body {
    margin: 200;
    background-color: #b1b1b1;
    width: 100%;
    height: 100vh;
  }
  
  header {
    width: 100%;
    height: 20vh;
    background-color: #515151;
  }
  
  main {
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 70vh;
  }
  
  footer { 
    background-color: rgb(41, 41, 41);
    margin: 0 auto;
    width: 75%;
    height: 10vh;
  }

  .center {
    text-align: center;
  }

  .textWhite {
    color: white;
  }